body{
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,h2,h3{
  text-shadow: 1px 1px 1px #00abfd;
}

#data-show{


}

h1#title span{
      color: #0075b3;
}

div#search-wrapper{
  h1{margin-bottom: 1%;}
}

div#search{
  margin-top: 2%;
}

.content{
  background-color: $white;
  border-radius: 6px;
  padding: 1%;
  box-shadow: 0 0 10px #6d6d6d;
  margin-bottom: 2%;
  margin-top: 2%;
}