select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input{
  margin-bottom: 0;

}

div#input-search{
  height: 45px;
  padding: 5px;
  float: left;
  font-size: 18px;
  border: 2px solid #0088cc;
  border-top-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0;

  input[type=text]{
    margin-right: 1%;
    height: 30px;
    @extend .span3;
    border:0;
    box-shadow: 0 0 0;
    &:focus{
      box-shadow: 0 0 0;
    }

    .deltable{

    }
  }

}

#btn-search{
  margin: 0;
  height: 45px;
  background: radial-gradient($blue, darken($blue,2%));
  border: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 6px ;
  border-bottom-right-radius: 6px ;
  color: $white;
  font-size: 20px;

  [class^="icon-"], [class*=" icon-"]{
    margin-top: 3px;
  }
}

[class^="icon-"], [class*=" icon-"]{
  margin-right: 3px;
}